.qdr-h1 {
  margin: var(--qdr-spacing-14) 0 var(--qdr-spacing-9);
  color: var(--qdr-text-primary);
  font-size: var(--qdr-typography-article-h1-font-size);
  line-height: var(--qdr-typography-article-h1-line-height);
  letter-spacing: var(--qdr-typography-article-h1-letter-spacing);
  font-weight: var(--qdr-typography-article-h1-font-weight);
}