$qdr-toolbar-popup-gap: --qdr-spacing-4;
$qdr-toolbar-arrow-size: $qdr-toolbar-popup-gap;
$qdr-toolbar-height: --qdr-spacing-14;
$qdr-toolbar-padding-vertical: --qdr-spacing-4;
$qdr-toolbar-padding-horizontal: --qdr-spacing-4;
$qdr-toolbar-input-cross-size: --qdr-spacing-7;

.qdr-toolbar {
  display: flex;
  align-items: center;
  gap: var(--qdr-spacing-4);
  height: var(#{$qdr-toolbar-height});
  padding: var(#{$qdr-toolbar-padding-vertical}) var(#{$qdr-toolbar-padding-horizontal});
  background-color: var(--qdr-surface);
  border: 1px solid var(--qdr-border);
  box-sizing: border-box;

  &--radius {
    border-radius: var(--qdr-radius-3);
  }

  &--shadow {
    box-shadow: 0 4px 8px -2px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 4%);
  }

  &__input {
    font-size: 0.8125rem;
    background: var(--qdr-surface);
    color: var(--qdr-text-secondary);
    width: calc(100% - var(#{$qdr-toolbar-input-cross-size}));
    height: 100%;
    border: none;
    padding: 0;
    outline: none;

    &__wrapper {
      display: flex;
      align-items: center;
      position: absolute;
      top: var(#{$qdr-toolbar-padding-vertical});
      left: var(#{$qdr-toolbar-padding-horizontal});
      width: calc(100% - var(#{$qdr-toolbar-padding-horizontal}) * 2);
      height: calc(100% - (var(#{$qdr-toolbar-padding-vertical}) * 2 + var(#{$qdr-toolbar-popup-gap})));
      background: var(--qdr-surface);
      box-sizing: border-box;
    }

    &__cross {
      fill: var(--qdr-text-secondary);
      font-size: var(#{$qdr-toolbar-input-cross-size});
      width: var(#{$qdr-toolbar-input-cross-size});
      height: var(#{$qdr-toolbar-input-cross-size});
      cursor: pointer;
    }
  }

  &__wrapper {
    box-sizing: content-box;
    height: var(#{$qdr-toolbar-height});

    &--fixed {
      position: sticky;
      top: 0;
      z-index: 1;

      .qdr-toolbar {
        &__input {
          &__wrapper {
            height: calc(100% - (var(#{$qdr-toolbar-padding-vertical}) * 2));
          }
        }
      }
    }

    &--float {
      position: absolute;
      z-index: 1;
      padding-bottom: var(#{$qdr-toolbar-popup-gap});

      .qdr-toolbar {
        background-color: var(--qdr-block);
      }
    }

    &--inputting {
      min-width: 250px;
    }
  }

  &__arrow {
    position: absolute;
    top: calc(100% - var(#{$qdr-toolbar-popup-gap}));
    left: 50%;
    content: '';
    width: var(#{$qdr-toolbar-arrow-size});
    height: var(#{$qdr-toolbar-arrow-size});
    background: var(--qdr-surface);
    border: 1px solid var(--qdr-border);
    border-top: none;
    border-left: none;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &__divider {
    width: 1px;
    height: var(--qdr-spacing-8);
    background-color: var(--qdr-divider);
  }

  &__icon {
    position: relative;
    color: var(--qdr-action-inactive);
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--qdr-spacing-1);
    border: 0;
    background-color: transparent;
    padding: var(--qdr-spacing-2);
    outline: none;
    box-shadow: none;
    border-radius: var(--qdr-radius-1);
    transition: color 0.2s ease-out, background 0.2s ease-out;
    cursor: pointer;

    &:hover,
    &--expanded {
      color: var(--qdr-action-active);
      background: var(--qdr-secondary-hover-bg);
    }

    &--active {
      color: var(--qdr-primary);
    }

    &--with-name {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 0;
      gap: var(--qdr-spacing-4);
      padding: 0 var(--qdr-spacing-6);

      &:hover {
        color: var(--qdr-action-inactive);
        background: var(--qdr-primary-hover-bg);
      }

      &--active {
        color: var(--qdr-action-inactive);
        background: var(--qdr-primary-active-bg);
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    &__arrow {
      color: var(--qdr-action-disabled)
    }

    &__name {
      flex: 1;
      margin: 0;
      font-size: var(--qdr-typography-basic-input1-font-size);
      line-height: var(--qdr-typography-basic-input1-line-height);
      letter-spacing: var(--qdr-typography-basic-input1-letter-spacing);
      font-weight: var(--qdr-typography-basic-input1-font-weight);
      color: var(--qdr-text-primary);
    }

    &__check {
      color: var(--qdr-primary);
    }

    &__menu {
      opacity: 0;
      position: absolute;
      background: var(--qdr-surface);
      border: 1px solid var(--qdr-border);
      padding: var(--qdr-spacing-2) 0;
      width: 200px;
      max-height: 240px;
      box-shadow: 0 24px 48px -12px rgb(0 0 0 / 18%), 0 4px 8px 2px rgb(0 0 0 / 4%);
      pointer-events: none;
      overflow-y: auto;
      transition: opacity 0.2s ease-out;

      &--expanded {
        pointer-events: auto;
        opacity: 1;
      }

      &--top {
        bottom: var(--qdr-spacing-14);
      }

      &--bottom {
        top: var(--qdr-spacing-14);
      }
    }
  }
}

.qdr-inline-toolbar {
  position: absolute;
  top: var(--qdr-spacing-4);
  right: var(--qdr-spacing-4);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--qdr-spacing-3);
  background-color: var(--qdr-bg);
  padding: var(--qdr-spacing-3);
  border: 1px solid var(--qdr-border);
  border-radius: var(--qdr-radius-3);
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  z-index: 1;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--qdr-spacing-1);
    padding: var(--qdr-spacing-1);
    background-color: var(--qdr-divider);
    border-radius: var(--qdr-radius-1);
  }

  &__divider {
    width: 1px;
    height: 16px;
    background-color: var(--qdr-divider);
  }

  &__icon {
    color: var(--qdr-action-inactive);
    border-radius: var(--qdr-radius-1);
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    cursor: pointer;

    &:hover {
      color: var(--qdr-primary-light);
    }

    &--active {
      color: var(--qdr-primary-light);
      background-color: var(--qdr-block);
    }
  }
}