.qdr-modal {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  &__container {
    width: 520px;
    background-color: #fff;
    box-shadow: var(--qdr-shadow-xl);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--qdr-spacing-4);
    padding: var(--qdr-spacing-5) var(--qdr-spacing-9);
    color: var(--qdr-text-primary);
    font-size: var(--qdr-typography-basic-h5-font-size);
    line-height: var(--qdr-typography-basic-h5-line-height);
    letter-spacing: var(--qdr-typography-basic-h5-letter-spacing);
    font-weight: var(--qdr-typography-basic-h5-font-weight);
    border-bottom: 1px solid var(--qdr-divider);
  }

  &__body {
    padding: var(--qdr-spacing-9);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--qdr-spacing-4);
    padding: var(--qdr-spacing-6) var(--qdr-spacing-9);
    border-top: 1px solid var(--qdr-divider);
  }
}