.qdr-modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--qdr-duration-short) var(--qdr-easing-standard);
  z-index: 9999;

  &--mask {
    background: rgb(0 0 0 / 50%);
  }

  &--opened {
    opacity: 1;
    pointer-events: auto;
  }

  &__transition {
    &-enter {
      transform: translateY(-200px);
      opacity: 0;
    }

    &-enter-active {
      transform: translateY(0);
      opacity: 1;
      transition:
        transform var(--qdr-duration-short) var(--qdr-easing-standard),
        opacity var(--qdr-duration-short) var(--qdr-easing-standard);
    }

    &-exit {
      transform: translateY(0);
      opacity: 1;
    }

    &-exit-active {
      transform: translateY(-200px);
      opacity: 0;
      transition:
        transform var(--qdr-duration-short) var(--qdr-easing-standard),
        opacity var(--qdr-duration-short) var(--qdr-easing-standard);
    }
  }

  &__container {
    background-color: #fff;
    box-shadow: var(--qdr-shadow-xl);
    margin: var(--qdr-spacing-8);

    &--small {
      width: var(--qdr-modal-size-s);
    }

    &--medium {
      width: var(--qdr-modal-size-m);
    }

    &--large {
      width: var(--qdr-modal-size-l);
    }

    &--extraLarge {
      width: var(--qdr-modal-size-xl);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--qdr-spacing-4);
    padding: var(--qdr-spacing-5) var(--qdr-spacing-9);
    color: var(--qdr-text-primary);
    font-size: var(--qdr-typography-basic-h5-font-size);
    line-height: var(--qdr-typography-basic-h5-line-height);
    letter-spacing: var(--qdr-typography-basic-h5-letter-spacing);
    font-weight: var(--qdr-typography-basic-h5-font-weight);
    border-bottom: 1px solid var(--qdr-divider);

    &__cancel {
      color: var(--qdr-action-inactive);
      transition: color var(--qdr-duration-short) var(--qdr-easing-standard);
      cursor: pointer;

      &:hover {
        color: var(--qdr-action-active);
      }
    }
  }

  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__side-body {
    width: 280px;
    border-right: 1px solid var(--qdr-divider);
    align-self: stretch;
  }

  &__main,
  &__side {
    padding: var(--qdr-spacing-9);
    box-sizing: border-box;
    align-self: stretch;
  }

  &__main {
    flex: 1;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--qdr-spacing-6) var(--qdr-spacing-9);
    border-top: 1px solid var(--qdr-divider);

    &__actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: var(--qdr-spacing-4);
    }
  }
}
