.qdr-embed {
  position: relative;
  margin: var(--qdr-spacing-14) 0;

  &:hover {
    .qdr-embed__inline-toolbar {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &-youtube, &-vimeo {
    &__placeholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--qdr-spacing-4);
      width: 100%;
      aspect-ratio: 16 / 9;
      border-radius: var(--qdr-radius-2);
      border: 1px solid var(--qdr-divider);
      background-color: var(--qdr-bg);

      &__icon {
        color: var(--qdr-action-inactive);
      }

      &__text {
        margin: 0;
        color: var(--qdr-text-secondary);
        font-size: var(--qdr-typography-basic-input2-font-size);
        line-height: var(--qdr-typography-basic-input2-line-height);
        letter-spacing: var(--qdr-typography-basic-input2-letter-spacing);
        font-weight: var(--qdr-typography-basic-input2-font-weight);
      }
    }
  }

  &-facebook {
    display: flex;
    align-items: flex-start;

    &--left {
      justify-content: flex-start;
    }

    &--center {
      justify-content: center;
    }

    &--right {
      justify-content: flex-end;
    }
  }
}