.qdr-embed {
  position: relative;
  margin: var(--qdr-spacing-14) 0;

  &:hover {
    .qdr-embed__inline-toolbar {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__inline-toolbar-wrapper {
    position: relative;
  }

  &__placeholder {
    &__icon {
      color: var(--qdr-action-inactive);
    }

    &__title {
      margin: 0;
      color: var(--qdr-text-secondary);
      font-size: var(--qdr-typography-basic-h5-font-size);
      line-height: var(--qdr-typography-basic-h5-line-height);
      letter-spacing: var(--qdr-typography-basic-h5-letter-spacing);
      font-weight: var(--qdr-typography-basic-h5-font-weight);
    }

    &__line {
      align-self: stretch;
      height: 16px;
      border-radius: var(--qdr-radius-6);
      opacity: 0.2;
      background: linear-gradient(90deg, var(--qdr-action-inactive) 0%, var(--qdr-divider) 100%);

      &--shortest {
        align-self: auto;
        width: 32px;
      }
    }

    &__block {
      width: 120px;
      height: 32px;
      border-radius: var(--qdr-radius-3);
      opacity: 0.2;
      background: linear-gradient(90deg, var(--qdr-action-inactive) 0%, var(--qdr-divider) 100%);
    }

    &__body {
      width: 100%;
      aspect-ratio: 16 / 9;
      border-radius: var(--qdr-radius-6);
      opacity: 0.2;
      background: linear-gradient(90deg, var(--qdr-action-inactive) 0%, var(--qdr-divider) 100%);

      &--square {
        aspect-ratio: 1 / 1;
      }
    }

    &__dot {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      opacity: 0.2;
      background: linear-gradient(90deg, var(--qdr-action-inactive) 0%, var(--qdr-divider) 100%);
    }
  }

  &-youtube, &-vimeo {
    &__placeholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--qdr-spacing-4);
      width: 100%;
      aspect-ratio: 16 / 9;
      border-radius: var(--qdr-radius-3);
      border: 1px solid var(--qdr-divider);
      background-color: var(--qdr-block);
    }
  }

  &-podcast-apple {
    &__placeholder {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      border-radius: var(--qdr-radius-5);
      border: 1px solid var(--qdr-divider);
      background-color: var(--qdr-block);
      padding: var(--qdr-spacing-4) var(--qdr-spacing-7) var(--qdr-spacing-7);
      gap: var(--qdr-spacing-4);

      &__wrapper {
        align-self: stretch;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--qdr-spacing-7);
      }

      &__content-wrapper {
        flex: 1;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
      }

      &__title-wrapper {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--qdr-spacing-4);
      }

      &__blocks-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: var(--qdr-spacing-4);
      }
    }
  }

  &-spotify {
    &__placeholder {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      border-radius: var(--qdr-radius-5);
      border: 1px solid var(--qdr-divider);
      background-color: var(--qdr-block);
      padding: var(--qdr-spacing-7);

      &__title-wrapper {
        flex: 1;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--qdr-spacing-4);
        margin-left: var(--qdr-spacing-7);
      }

      &__icon-wrapper {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: var(--qdr-spacing-12);
      }
    }
  }

  &-twitter__container {
    > * {
      margin: 0 !important;
    }
  }

  &-instagram, &-facebook, &-twitter {
    display: flex;
    align-items: flex-start;

    &--left {
      justify-content: flex-start;
    }

    &--center {
      justify-content: center;
    }

    &--right {
      justify-content: flex-end;
    }

    &__placeholder {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: var(--qdr-spacing-7);
      border-radius: var(--qdr-radius-3);
      border: 1px solid var(--qdr-divider);
      background-color: var(--qdr-block);
      padding: var(--qdr-spacing-9);

      &__title-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: var(--qdr-spacing-6);
      }

      &__line-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--qdr-spacing-4);
      }

      &__set-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: var(--qdr-spacing-11);
      }

      &__tools-set {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: var(--qdr-spacing-3);
      }
    }
  }
}