.qdr-button {
  padding: 0 var(--qdr-spacing-7);
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--qdr-typography-basic-button2-font-size);
  line-height: var(--qdr-typography-basic-button2-line-height);
  letter-spacing: var(--qdr-typography-basic-button2-letter-spacing);
  font-weight: var(--qdr-typography-basic-button2-font-weight);
}