$qdr-spacing: (
  spacing-0: 0,
  spacing-1: 0.165rem,
  spacing-2: 0.25rem,
  spacing-4: 0.5rem,
  spacing-6: 0.75rem,
  spacing-7: 1rem,
  spacing-8: 1.25rem,
  spacing-9: 1.5rem,
  spacing-10: 1.75rem,
  spacing-11: 2rem,
  spacing-14: 3rem,
  spacing-25: 12.5rem,
  spacing-27: 16rem,
  spacing-28: 17.5rem,
  spacing-30: 22.5rem,

  radius-1: 0.25rem,
  radius-3: 0.5rem,

  typography-article-h1-font-size: 2rem,
  typography-article-h1-line-height: 1.4,
  typography-article-h1-letter-spacing: 0,
  typography-article-h1-font-weight: 600,

  typography-article-h2-font-size: 1.5rem,
  typography-article-h2-line-height: 1.4,
  typography-article-h2-letter-spacing: 0,
  typography-article-h2-font-weight: 600,

  typography-article-h3-font-size: 1.3125rem,
  typography-article-h3-line-height: 1.45,
  typography-article-h3-letter-spacing: 0,
  typography-article-h3-font-weight: 600,

  typography-article-h4-font-size: 1.125rem,
  typography-article-h4-line-height: 1.45,
  typography-article-h4-letter-spacing: 0,
  typography-article-h4-font-weight: 600,

  typography-article-h5-font-size: 1rem,
  typography-article-h5-line-height: 1.5,
  typography-article-h5-letter-spacing: 0,
  typography-article-h5-font-weight: 600,

  typography-article-h6-font-size: 0.8125rem,
  typography-article-h6-line-height: 1.5,
  typography-article-h6-letter-spacing: 0,
  typography-article-h6-font-weight: 600,

  typography-article-subtitle1-font-size: 1rem,
  typography-article-subtitle1-line-height: 1.5,
  typography-article-subtitle1-letter-spacing: 0,
  typography-article-subtitle1-font-weight: 400,

  typography-article-body1-font-size: 1rem,
  typography-article-body1-line-height: 1.65,
  typography-article-body1-letter-spacing: 0,
  typography-article-body1-font-weight: 400,

  typography-article-body2-font-size: 0.8125rem,
  typography-article-body2-line-height: 1.7,
  typography-article-body2-letter-spacing: 0,
  typography-article-body2-font-weight: 400,

  typography-basic-input1-font-size: 0.9375rem,
  typography-basic-input1-line-height: 2.65,
  typography-basic-input1-letter-spacing: 0,
  typography-basic-input1-font-weight: 400,
)