.qdr-file-uploader {
  position: relative;

  &__backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: var(--qdr-overlay-light);
    transition: background-color 300ms ease-in-out;
    will-change: background-color;
    z-index: 1;

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--qdr-spacing-2);
      padding: var(--qdr-spacing-2) var(--qdr-spacing-3);
      background-color: var(--qdr-overlay-dark);
      border-radius: var(--qdr-radius-3);
    }

    &__percentage {
      margin: 0;
      color: var(--qdr-on-primary);
    }
  }
}
