.qdr-file-uploader {
  position: relative;

  &__backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: var(--qdr-text-primary);
    transition: background-color 300ms ease-in-out;
    will-change: background-color;
    opacity: 0.65;
    z-index: 1;
  }

  &__progress {
    width: 50%;
  }
}
