.qdr-progress {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: rotate(-90deg);

  &__backdrop {
    stroke: var(--qdr-action-disabled);
  }

  &__track {
    stroke: var(--qdr-on-primary);
  }
}
