.qdr-carousel {
  &-modal {
    &__side {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: var(--qdr-spacing-9);

      &__hints-wrapper {
        width: 100%;
      }

      &__hints-title {
        color: var(--qdr-text-primary);
        font-size: var(--qdr-typography-basic-h6-font-size);
        line-height: var(--qdr-typography-basic-h6-line-height);
        letter-spacing: var(--qdr-typography-basic-h6-letter-spacing);
        font-weight: var(--qdr-typography-basic-h6-font-weight);
        margin-bottom: var(--qdr-spacing-4);
      }

      &__upload {
        width: 100%;
      }
    }

    &__main {
      position: relative;
      background-color: var(--qdr-bg);
    }

    &__counter {
      color: var(--qdr-text-secondary);
      font-size: var(--qdr-typography-basic-body2-font-size);
      line-height: var(--qdr-typography-basic-body2-line-height);
      letter-spacing: var(--qdr-typography-basic-body2-letter-spacing);
      font-weight: var(--qdr-typography-basic-body2-font-weight);
    }

    &__zone {
      position: absolute;
      inset: 0;
      z-index: 101;
      // pointer-events: none;

      &--error {
        border: 1px solid var(--qdr-error);
      }

      &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--qdr-bg);
        pointer-events: none;
      }

      &__block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 360px;
        padding-bottom: var(--qdr-spacing-14);
      }

      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--qdr-action-inactive);
        padding: var(--qdr-spacing-4);
        border: 1px solid var(--qdr-divider);
        background-color: var(--qdr-surface);
        border-radius: var(--qdr-radius-5);
      }

      &__title {
        color: var(--qdr-text-primary);
        font-size: var(--qdr-typography-basic-h5-font-size);
        line-height: var(--qdr-typography-basic-h5-line-height);
        letter-spacing: var(--qdr-typography-basic-h5-letter-spacing);
        font-weight: var(--qdr-typography-basic-h5-font-weight);
        text-align: center;
        margin-top: var(--qdr-spacing-9);
      }

      &__hint {
        color: var(--qdr-text-secondary);
        font-size: var(--qdr-typography-basic-body2-font-size);
        line-height: var(--qdr-typography-basic-body2-line-height);
        letter-spacing: var(--qdr-typography-basic-body2-letter-spacing);
        font-weight: var(--qdr-typography-basic-body2-font-weight);
        text-align: center;
        margin-top: var(--qdr-spacing-2);
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--qdr-spacing-6);
    }

    &__item {
      position: relative;
      border: 1px solid var(--qdr-divider);
      border-radius: var(--qdr-radius-2);
      overflow: hidden;
      transition: box-shadow var(--qdr-duration-short) var(--qdr-easing-standard);
      z-index: 100;

      &:hover {
        box-shadow:
          0 0 0 2px var(--qdr-surface),
          0 0 0 4px var(--qdr-primary-light);

        .qdr-carousel-modal__inline-toolbar {
          opacity: 1;
          pointer-events: auto;
        }
      }

      &--isDragging {
        border-style: dashed;
        border-color: var(--qdr-primary);
        box-shadow: var(--qdr-shadow-xl);
        cursor: grabbing;

        > * {
          display: none;
        }
      }

      &--isOver {
        box-shadow:
          0 0 0 2px var(--qdr-surface),
          0 0 0 4px var(--qdr-primary-light);
      }
    }

    &__image {
      width: 100%;
    }

    &__input-wrapper {
      border-top: 1px solid var(--qdr-divider);
      background-color: var(--qdr-surface);
      padding: var(--qdr-spacing-6);
    }
  }

  &__placeholder {
    &__icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border-radius: var(--qdr-radius-1);
      border: 1px solid var(--qdr-divider);
      background-color: var(--qdr-block);
    }

    &__icon {
      color: var(--qdr-action-inactive);
    }
  }

  &__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--qdr-spacing-4);
  }

  &__dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--qdr-action-disabled-bg);
    margin: 2.5px;

    &--active {
      background-color: var(--qdr-primary);
    }
  }
}
