.qdr-carousel {
  &-modal {
    &__side {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: var(--qdr-spacing-9);

      &__hints-wrapper {
        width: 100%;
      }

      &__hints-title {
        color: var(--qdr-text-primary);
        font-size: var(--qdr-typography-basic-h6-font-size);
        line-height: var(--qdr-typography-basic-h6-line-height);
        letter-spacing: var(--qdr-typography-basic-h6-letter-spacing);
        font-weight: var(--qdr-typography-basic-h6-font-weight);
        margin-bottom: var(--qdr-spacing-4);
      }

      &__upload {
        width: 100%;
      }
    }

    &__main {
      background-color: var(--qdr-bg);
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--qdr-spacing-6);
    }

    &__item {
      border: 1px solid var(--qdr-divider);
      border-radius: var(--qdr-radius-2);
      overflow: hidden;
    }

    &__image {
      width: 100%;
    }

    &__input-wrapper {
      border-top: 1px solid var(--qdr-divider);
      background-color: var(--qdr-surface);
      padding: var(--qdr-spacing-6);
    }
  }

  &__placeholder {
    &__icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border-radius: var(--qdr-radius-1);
      border: 1px solid var(--qdr-divider);
      background-color: var(--qdr-block);
    }

    &__icon {
      color: var(--qdr-action-inactive);
    }
  }

  &__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--qdr-spacing-4);
  }

  &__dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--qdr-action-disabled-bg);
    margin: 2.5px;

    &--active {
      background-color: var(--qdr-primary);
    }
  }
}
