$qdr-image-resizer-size: 6px;

.qdr-image {
  display: flex;
  justify-content: var(--qdr-image-align);
  position: relative;
  user-select: none;

  &__figure {
    position: relative;
    margin: var(--qdr-spacing-14) 0;

    &:hover {
      .qdr-image__inline-toolbar {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__spacer {
    position: absolute;
    top: 0;
    left: 50%;
    height: 0;
    color: transparent;
    outline: none;
    caret-color: transparent;
  }

  img {
    display: block;
    min-width: 240px;
    max-width: 100%;
    user-select: none;
  }

  &__boundary,
  &__resizer {
    position: absolute;
    border: 2px solid var(--qdr-primary);
    right: 0;
    bottom: 0;
  }

  &__boundary {
    top: 0;
    left: 0;
  }

  &__resizer {
    width: $qdr-image-resizer-size;
    height: $qdr-image-resizer-size;
    background: var(--qdr-surface);
    transform: translate3d(50%, 50%, 0);
    cursor: nwse-resize;
  }

  &__caption {
    position: relative;
    margin-top: var(--qdr-spacing-6);
    text-align: var(--qdr-image-caption-align);
    font-size: var(--qdr-typography-article-body2-font-size);
    line-height: var(--qdr-typography-article-body2-line-height);
    letter-spacing: var(--qdr-typography-article-body2-letter-spacing);
    font-weight: var(--qdr-typography-article-body2-font-weight);

    &-placeholder {
      position: absolute;
      left: 0;
      text-align: var(--qdr-image-caption-align);
      color: var(--qdr-text-secondary);
      width: 100%;
      white-space: nowrap;
      vertical-align: text-top;
      pointer-events: none;
    }

    &--empty {
      .qdr-image__figure--blurred & {
        height: 0;
        margin: 0;
        opacity: 0;
        user-select: none;
      }
    }
  }
}
