.qdr-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &-modal {
    &__main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--qdr-spacing-12);
    }

    &__block {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--qdr-spacing-6);
    }

    &__block-title {
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--qdr-text-primary);
      font-size: var(--qdr-typography-basic-h5-font-size);
      line-height: var(--qdr-typography-basic-h5-line-height);
      letter-spacing: var(--qdr-typography-basic-h5-letter-spacing);
      font-weight: var(--qdr-typography-basic-h5-font-weight);
      margin: 0;
    }

    &__block-content {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--qdr-spacing-9);
    }

    &__block-field {
      width: 100%;
    }

    &__toggle-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--qdr-spacing-2);
      color: var(--qdr-text-secondary);
      font-size: var(--qdr-typography-basic-h6-font-size);
      line-height: var(--qdr-typography-basic-h6-line-height);
      letter-spacing: var(--qdr-typography-basic-h6-letter-spacing);
      font-weight: var(--qdr-typography-basic-h6-font-weight);
    }

    &__link-wrapper {
      align-self: stretch;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--qdr-spacing-7);
    }

    &__url-field {
      flex: 1;
    }
  }
}
