@use '../packages/theme/theming/register.scss';
@use '../packages/theme/theming/styles.scss';
@import url('../packages/react/components/src/Progress/progress.scss');
@import url('../packages/react/components/src/Tooltip/tooltip.scss');
@import url('../packages/react/src/core/components/editable.scss');
@import url('../packages/react/toolbar/src/components/toolbar.scss');
@import url('../packages/react/file-uploader/src/components/file-uploader.scss');
@import url('../packages/react/image/src/components/image.scss');
@import url('../packages/react/read-more/src/components/read-more.scss');
@import url('../packages/react/paragraph/src/paragraph.scss');
@import url('../packages/react/heading/src/heading.scss');
@import url('../packages/react/blockquote/src/blockquote.scss');
@import url('../packages/react/line-break/src/line-break.scss');
@import url('../packages/react/divider/src/divider.scss');
@import url('../packages/react/list/src/list.scss');
@import url('../packages/react/embed/src/embed.scss');
@import url('../packages/react/input-block/src/input-block.scss');

@mixin stories-block {
  color: var(--qdr-text-primary);
  padding: 36px 40px;
  width: 100%;
  min-height: 400px;
  box-sizing: border-box;
}

:root {
  @include register.qdr-theme('light', styles.$qdr-palette-qdr);
  @include register.qdr-theme('dark', styles.$qdr-palette-qdr-dark);
}

.stories {
  &__block {
    background-color: var(--qdr-surface);
    overflow: hidden;
    overflow-wrap: break-word;
    border: 1px solid var(--qdr-border);

    @include stories-block;
  }

  &__examples {
    &__playground {
      &__json-block {
        padding: 12px 20px;
        background-color: #f5f5f5;
        border: 1px solid #e0e0e0;
        margin: 24px 0;
      }

      &__serializer-jsx {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
      }
    }
  }
}
